
# System / Docker
.vscode
.bash_history
.env
/.elixir_ls/
.DS_Store

# Phoenix
/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
backpex-*.tar
/priv/static/assets/
/priv/static/cache_manifest.json
npm-debug.log
/assets/node_modules/

