@import "tailwindcss";

@plugin "./tailwind_heroicons.js";

@plugin "daisyui" {
  themes: dark, cupcake, bumblebee, emerald, corporate, synthwave, retro,
    cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy,
    wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade,
    night, coffee, winter, dim, nord, sunset;
}

@theme {
  --radius-badge: var(--rounded-badge, 1.9rem);
  --radius-box: var(--rounded-box, 1rem);
}

@plugin "daisyui/theme" {
  name: "backpex";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.115% 0 0);
  --color-base-300: oklch(92.4169% 0.00108 197.137559/1);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(53.68% 0.224 259.92);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(74.94% 0.182 67.69);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(35.97% 0.031 257.68);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "@tailwindcss/typography";

@source "../../../lib/**/*.*ex";
@source "../../../assets/js/hooks/**/*.*js";

@layer base {
  button,
  select,
  [role="button"] {
    cursor: pointer;
  }
}

@utility phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility btn {
  &:where(input[type="checkbox"], input[type="radio"]) {
    &:checked {
      @apply border-primary bg-primary text-primary-content;
      @media (hover: hover) {
        &:hover {
          @supports (color: color-mix(in oklab, black, black)) {
            background-color: color-mix(
              in oklab,
              var(--color-primary) 90%,
              black
            );
            border-color: color-mix(in oklab, var(--color-primary) 90%, black);
          }
        }
      }
    }
    &:hover {
      @apply bg-base-content/10;
    }
  }
}

.join {
  border-radius: var(--radius-field);
}

@utility textarea {
  &:focus {
    @apply border-base-content/20 outline-base-content/20;
  }
}

@utility select {
  @apply text-sm h-[3rem];
  &:focus,
  &:focus-within {
    --input-color: color-mix(
      in oklab,
      var(--color-base-content) 20%,
      transparent
    );
  }
}

@utility input {
  @apply text-base h-[3rem];
  &:focus,
  &:focus-within {
    --input-color: color-mix(
      in oklab,
      var(--color-base-content) 20%,
      transparent
    );
  }
}

.table {
  :where(thead, tfoot) {
    @apply text-xs;
  }
}

.alert {
  @apply shadow-none;
}
