@import 'tailwindcss';
@plugin "./tailwind_heroicons.js";
@plugin "daisyui" {
  themes: dark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}
@plugin "daisyui/theme" {
  name: "light";
  --color-primary: blue;
  --color-secondary: teal;
  --color-primary: #1d4ed8;
  --color-primary-content : white;
  --color-secondary: #f39325;
  --color-secondary-content: white;
}
@plugin "@tailwindcss/typography";
@source "../../../lib/**/*.*ex";
@source "../../../assets/js/hooks/**/*.*js";

@utility phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}
@utility phx-loading {
  cursor: wait;
}
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@custom-variant phx-click-loading (.phx-click-loading&, .phx-click-loading &);
@custom-variant phx-submit-loading (.phx-submit-loading&, .phx-submit-loading &);
@custom-variant phx-change-loading (.phx-change-loading&, .phx-change-loading &);