<div>
  {@live_resource.render_resource_slot(assigns, @live_action, :before_page_title)}
  {@live_resource.render_resource_slot(assigns, @live_action, :page_title)}

  {@live_resource.render_resource_slot(assigns, @live_action, :before_main)}
  {@live_resource.render_resource_slot(assigns, @live_action, :main)}
  {@live_resource.render_resource_slot(assigns, @live_action, :after_main)}
</div>
